@theme {
  --color-gold: #a58e6c;
  --color-red: #7b003d;
  --color-beige: #faf8f4;
  --disable-default-colors: true;
}

@font-face {
  font-family: "Apertura";
  src: url("fonts/Apertura Rg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Apertura", system-ui;
  font-weight: 500;
  font-style: normal;
  color: #a58e6c;
}

.gradient {
  background: linear-gradient(to bottom,
      transparent 0%,
      transparent 10%,
      #faf8f4 80%,
      #faf8f4 100%);
}

.gradient2 {
  background: linear-gradient(to bottom,
      transparent 0%,
      transparent 20%,
      #faf8f4 40%,
      #faf8f4 100%);
}

.background {
  opacity: 0.1;
  background-image: url("img/barbara_schlosser_auszeit_mit_klangschalen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
}

.hero {
  background-color: #7b003d;
  color: #a58e6c;
}

.primary {
  color: #7b003d;
}

.link {
  transition: color 200ms;
}

.link:hover {
  color: #7b003d;
}

.link-bright:hover {
  color: white;
}

footer {
  background-color: #a58e6c;
  color: white;
}
